html {
    padding: 5px 10px 5px 5px;
}

body {
    padding: 0 2%;
    font-size: 114%;
}

* {
    font-size: 114%;
}

.status-indicators {
    vertical-align: 5px;
}

.player-outline {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.key {
    border-style: solid;
    border-width: 5px;
    font-weight: bold;
}

.table-player {
    background-color: gray;
}

.at-bat {
    background-color: green;
}

.on-deck {
    background-color: yellow;
}

.in-hole {
    background-color: red;
}

.total {
    font-size: 55px;
}

.stats-table {
    font-size: 20px;
    font-weight: bold;
}

.header {
    display: inline block;
}

.points {
    font-size: 30px;
}

.pitching-staff-points {
    font-size: 195%;
}

.center-date {
    padding-left: 33.75%;
    font-size: 115%;
    vertical-align: -8px;
}

.each-stat {
    vertical-align: text-top;
}

.right {
    padding-left: 60%;
}

.player-label {
    color: #000099;
    font-size: 230%;
}

.game-info {
    font-size: 18px;
}

.logo {
    vertical-align: 12px;
}

.navbar-brand {
    padding: 5px 10px;
}

.game-time {
    color: orange;
}

table.scoreboard {
    width: 600px;
    text-align: center;
}

table.scoreboard,
td.scoreboard,
th.scoreboard {
    border: 1px solid black;
    text-align: center;
}

th.scoreboard {
    background-color: red;
    color: white;
    font-weight: bold;
}
/* Larger desktop */

@media (min-width: 1851px) {
    * {
        font-size: 35px;
    }
    .player-label {
        color: #000099;
        font-size: 35px;
    }
    .status-indicators {
        vertical-align: 2px;
    }
    .total {
        font-size: 55px;
    }
    .points {
        font-size: 35px;
    }
    .game-info {
        font-size: 18px;
        vertical-align: 4px;
    }
    .stats-table {
        font-size: 20px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 42.5%;
    }
    .center-date {
        padding-left: 42.5%;
        font-size: 115%;
        vertical-align: -8px;
    }
}

@media (min-width: 1600px) and (max-width: 1850px) {
    * {
        font-size: 35px;
    }
    .player-label {
        color: #000099;
        font-size: 35px;
    }
    .status-indicators {
        vertical-align: 2px;
    }
    .total {
        font-size: 55px;
    }
    .points {
        font-size: 35px;
    }
    .game-info {
        font-size: 18px;
        vertical-align: 4px;
    }
    .stats-table {
        font-size: 20px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 41.5%;
    }
    .center-date {
        padding-left: 41.5%;
        font-size: 115%;
        vertical-align: -8px;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    * {
        font-size: 35px;
    }
    .player-label {
        color: #000099;
        font-size: 35px;
    }
    .status-indicators {
        vertical-align: 2px;
    }
    .total {
        font-size: 55px;
    }
    .points {
        font-size: 35px;
    }
    .game-info {
        font-size: 18px;
        vertical-align: 4px;
    }
    .stats-table {
        font-size: 20px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 40 %;
    }
    .center-date {
        padding-left: 40%;
        font-size: 115%;
        vertical-align: -8px;
    }
}
/* Large desktop */

@media (min-width: 1200px) and (max-width: 1399px) {
    * {
        font-size: 35px;
    }
    .player-label {
        color: #000099;
        font-size: 35px;
    }
    .status-indicators {
        vertical-align: 2px;
    }
    .total {
        font-size: 55px;
    }
    .points {
        font-size: 35px;
    }
    .game-info {
        font-size: 18px;
        vertical-align: 4px;
    }
    .stats-table {
        font-size: 20px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 39 %;
    }
    .center-date {
        padding-left: 38%;
        font-size: 115%;
        vertical-align: -8px;
    }
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    /* INDEX2 CSS Media*/
    
    * {
        font-size: 30px;
    }
    .player-label {
        color: #000099;
        font-size: 30px;
    }
    .status-indicators {
        vertical-align: 2px;
    }
    .total {
        font-size: 45px;
    }
    .points {
        font-size: 25px;
    }
    .game-info {
        font-size: 12px;
        vertical-align: 3px;
    }
    .stats-table {
        font-size: 20px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 33%;
    }
    .center-date {
        padding-left: 33%;
        font-size: 115%;
        vertical-align: -8px;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    * {
        font-size: 25px;
    }
    .player-label {
        color: #000099;
        font-size: 25px;
    }
    .status-indicators {
        vertical-align: 1px;
    }
    .total {
        font-size: 32px;
    }
    .points {
        font-size: 18px;
        font-weight: bold;
    }
    .game-info {
        font-size: 10px;
        vertical-align: 4px;
    }
    .stats-table {
        font-size: 16px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 21.25%;
    }
    .center-date {
        padding-left: 21.5%;
        font-size: 115%;
        vertical-align: -8px;
    }
}
/* Landscape phones and down */

@media (max-width: 480px) {
    * {
        font-size: 114%;
    }
    .player-label {
        color: #000099;
        font-size: 20px;
    }
    .status-indicators {
        vertical-align: 1px;
    }
    .total {
        font-size: 25px;
    }
    .points {
        font-size: 114%;
    }
    .game-info {
        font-size: 10px;
        vertical-align: 2px;
    }
    .stats-table {
        font-size: 15px;
        font-weight: bold;
        vertical-align: 5px;
    }
    .right {
        padding-left: 15.5%;
    }
    .center-date {
        padding-left: 15.25%;
        font-size: 115%;
        vertical-align: -8px;
    }
}
