<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://x2js.googlecode.com/hg/xml2json.js"></script>
    <link rel="stylesheet" type="text/css" href="../Baseball/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../Baseball/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../Baseball/js/Scoreboard2.js"></script>
    <script src="../Baseball/js/date.js"></script>
    <meta name="Baseball" content="width=device-width, initial-scale=1.0">
    <!--<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">-->
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../Baseball/images/favicon.ico" sizes="16x16">
    <link rel="shortcut icon" href="../Baseball/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../Baseball/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="../Baseball/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../Baseball/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../Baseball/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../Baseball/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../Baseball/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../Baseball/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../Baseball/images/apple-touch-icon-152x152.png" />
    <title>MLB.com Fantasy Scoreboard</title>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="baseballController" data-ng-init="findMyTeam('Mine'); changeDate(0, true); weeklyScores();">
            <center>
                <table class="scoreboard">
                    <thead>
                        <tr class="scoreboard">
                            <th class="scoreboard">Monday</th>
                            <th class="scoreboard">Tuesday</th>
                            <th class="scoreboard">Wednesday</th>
                            <th class="scoreboard">Thursday</th>
                            <th class="scoreboard">Friday</th>
                            <th class="scoreboard">Saturday</th>
                            <th class="scoreboard">Sunday</th>
                            <th class="scoreboard">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="scoreboard">{{MondaysScore}}&nbsp;</td>
                            <td class="scoreboard">{{TuesdaysScore}}</td>
                            <td class="scoreboard">{{WednesdayScore}}</td>
                            <td class="scoreboard">{{ThursdayScore}}</td>
                            <td class="scoreboard">{{FridayScore}}</td>
                            <td class="scoreboard">{{SaturdayScore}}</td>
                            <td class="scoreboard">{{SundayScore}}</td>
                            <td class="scoreboard">{{WeeksTotalScore}}</td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <div class="header">
                <span>
                   <button id="dateBack" ng-click="changeDate(-1, false); findMyTeam('Mine'); weeklyScores();" class="btn btn-primary" ><i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i></button>  
               </span>
                <span>
                  &nbsp;<span class="center-date" style="font-size: 195%;"><b><a ng-click="backToTodaysDate(); findMyTeam('Mine'); weeklyScores();">{{month}}/{{day}}/{{year}}</a></b></span>&nbsp;
                </span>
                <span class="right">
                 <button id="dateForward" ng-click="changeDate(1, false);findMyTeam('Mine'); weeklyScores();"  class="btn btn-primary" ><i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i></button>
             </span>
            </div>
            <div ng-repeat="game in baseballGame">
                <div ng-repeat="gameinfo in game[0].data.data;">
                    <div ng-repeat="team in game[0].data.data.boxscore.batting;">
                        <!--<h1 ng-if="team.team_flag==' home'"><b>{{game[0].data.data.boxscore.home_fname | uppercase}}</b></h1>
                    <h1 ng-if="team.team_flag == 'away'"><b>{{game[0].data.data.boxscore.away_fname | uppercase}}</b></h1>-->
                        <div ng-repeat="x in team.batter | orderBy:'x.id'" ng-if="(x.pos != 'P') && (myTeam.indexOf(x.id)>-1) " ng-class="{'on-deck' : playersOnDeck.indexOf(x.id) != -1 && gameinfo.status_ind != 'P' && gameinfo.status_ind != 'F', 'at-bat' : playersUpToBat.indexOf(x.id) != -1 && gameinfo.status_ind != 'P' && gameinfo.status_ind != 'F', 'in-hole' : playersInTheHole.indexOf(x.id) != -1 && gameinfo.status_ind != 'P' && gameinfo.status_ind != 'F'}" class="player-container">
                            {{stillInGame(team, x)}}
                            <table>
                                <thead>
                                    <tr>
                                        <th class="player-photo" rowspan="2"><img src="http://mlb.mlb.com/images/gameday/mugshots/mlb/{{x.id}}.jpg" /></th>
                                        <th colspan="2"><span class="player-label">{{ x.name_display_first_last }}, {{x.pos}}</span><span class="game-info status-indicators" ng-if="gameinfo.status_ind == 'F' || gameinfo.status_ind == 'O' || gameinfo.status_ind == 'IR' || gameinfo.status_ind == 'I'|| gameinfo.status_ind == 'MA'"> <b>{{getGamesScore(gameinfo)}}</b><span ng-if="gameinfo.status_ind != 'F' && gameinfo.status_ind != 'O'  && gameinfo.status_ind != 'DR'">, <b>{{ getInning(gameinfo) }}</b></span></span> <img ng-if="gameinfo.status_ind == 'PW'" class="status-indicators" width="50" src="..\Baseball\images\pictures\warmUp.jpg" /> <img ng-if="gameinfo.status_ind == 'F' || gameinfo.status_ind == 'O'" class="status-indicators" width="50" src="..\Baseball\images\pictures\Final.jpg" />
                                            <blink ng-if="gameinfo.status_ind == 'DR'|| gameinfo.status_ind == 'PR'|| gameinfo.status_ind == 'DI' || gameinfo.status_ind == 'IR' || gameinfo.status_ind == 'MA'|| gameinfo.status_ind == 'DE'"><img ng-if="gameinfo.status_ind == 'DR'|| gameinfo.status_ind == 'DI' || gameinfo.status_ind == 'DE'" class="status-indicators" width="50" src="..\Baseball\images\pictures\PPD.jpg" /><img ng-if="gameinfo.status_ind == 'IR'|| gameinfo.status_ind == 'PR'" class="status-indicators" width="50" src="..\Baseball\images\pictures\Delay.jpg" /><img ng-if="gameinfo.status_ind == 'MA'" class="status-indicators" width="50" src="..\Baseball\images\pictures\Challenge.jpg" /></blink><span class="game-info status-indicators game-time" ng-if="gameinfo.status_ind != 'F' && gameinfo.status_ind != 'O' && gameinfo.status_ind != 'I'  && gameinfo.status_ind != 'DR'"><b>{{getMoreGameInfo(gameinfo.game_pk,false)}} {{matchUp}}&nbsp;{{timeOfGame}}</b></span>
                                            <img src="..\Baseball\images\pictures\EnteredButLeftGame.JPG" class="status-indicators" width="50" ng-if="enteredButLeft" />
                                            <img src="..\Baseball\images\pictures\EnteredGame.JPG" class="status-indicators" width="50" ng-if="entered" />
                                            <img src="..\Baseball\images\pictures\LeftGame.JPG" class="status-indicators" width="50" ng-if="leftGame" />
                                            <!-- {{x.id + '-' + $parent.$parent.$parent.$parent.$index + $parent.$parent.$parent.$index + $parent.$parent.$index + $parent.$index}} -->
                                        </th>
                                        <th style="float:right">
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><span style="float:right" ng-attr-id="{{x.id + '-' + $parent.$parent.$parent.$parent.$index + $parent.$parent.$parent.$index + $parent.$parent.$index + $parent.$index}}" data-ng-init="gatherIds(x.id + '-' + $parent.$parent.$parent.$parent.$index + $parent.$parent.$parent.$index + $parent.$parent.$index + $parent.$index)" class="points"> {{getScore($index, x) }}</span> <span class="points" style="float:right">Points: </span></th>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="stats-table">
                                            <span>&nbsp;&nbsp;</span>
                                            <span>{{ x.h }} - {{x.ab}}
                            <span ng-if="x.d != 0 || x.t != 0 || x.hr != 0 || x.rbi != 0 || x.bb != 0 || x.r != 0 || x.sb != 0 || x.cs != 0">,</span>
                                            </span>
                                            <span ng-if="x.d != 0">&nbsp;{{x.d}} 2B
                            <span ng-if="x.d != 0  && (x.t != 0 || x.hr != 0 || x.rbi != 0 || x.bb != 0 || x.r != 0 || x.sb != 0 || x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.t != 0">&nbsp;{{x.t}} 3B
                            <span ng-if="x.t != 0  && ( x.hr != 0 || x.rbi != 0 || x.bb != 0 || x.r != 0 || x.sb != 0 || x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.hr != 0">&nbsp;{{x.hr}} HR
                            <span ng-if="x.hr != 0  && (x.rbi != 0 || x.bb != 0 || x.r != 0 || x.sb != 0 || x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.rbi != 0">&nbsp;{{x.rbi}} RBI
                            <span ng-if="x.rbi != 0  && (x.bb != 0 || x.r != 0 || x.sb != 0 || x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.bb != 0">&nbsp;{{x.bb}} BB
                            <span ng-if="x.bb != 0  && (x.r != 0 || x.sb != 0 || x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.r != 0">&nbsp;{{x.r}} R
                            <span ng-if="x.r != 0  && (x.sb != 0 || x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.sb != 0">&nbsp;{{x.sb}} SB
                            <span ng-if="x.sb != 0  && (x.cs != 0)">,</span>
                                            </span>
                                            <span ng-if="x.cs != 0">&nbsp;{{x.cs}} CS</span>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
            <!--                            <div ng-repeat="game in baseballGame"> -->
            <div ng-repeat="pitchedGames in allPitchingStaffGames" id="pitchingTable">
                <!--     <div ng-repeat="pitchingGameInfo in baseballGame[0][0].data.data;"> -->
                <table>
                    <tr>
                        <th rowspan="2"><img height="75" width="62" src="http://mlb.mlb.com/images/logos/42x50/{{getStaffPictureAbbreviation(myPitchingStaff)}}.png"></th>
                        <th colspan="2"><span class="player-label">{{pitchingStaffTeamName}}, P</span>&nbsp;<span class="game-info status-indicators game-time" ng-if="pitchingStaffGameStatus
 != 'F' && pitchingStaffGameStatus != 'O' && pitchingStaffGameStatus != 'I'  && pitchingStaffGameStatus != 'DR'"><b>{{getMoreGameInfo(pitchedGames._game_pk, true)}} {{matchUp}}&nbsp;{{timeOfGame}}</b></span><span class="game-info status-indicators" ng-if="pitchingStaffGameStatus == 'F' || pitchingStaffGameStatus == 'O' || pitchingStaffGameStatus == 'IR' || pitchingStaffGameStatus == 'I'|| pitchingStaffGameStatus == 'MA'"> <b>{{pitchingGameScore}}</b><span ng-if="pitchingStaffGameStatus != 'F' && pitchingStaffGameStatus != 'O'  && pitchingStaffGameStatus != 'DR'">, <b>{{pitchingGameInning}}</b></span></span>&nbsp;<img ng-if="pitchingStaffGameStatus == 'F'" class="status-indicators" width="50" src="..\Baseball\images\pictures\Final.jpg" /><img ng-if="pitchingStaffGameStatus == 'PW'" class="status-indicators" width="50" src="..\Baseball\images\pictures\warmUp.jpg" />
                            <blink ng-if="pitchingStaffGameStatus == 'DR'|| pitchingStaffGameStatus == 'PR'|| gameinfo.status_ind == 'DI' || pitchingStaffGameStatus == 'IR' || pitchingStaffGameStatus == 'MA'|| pitchingStaffGameStatus == 'DE'"><img ng-if="pitchingStaffGameStatus == 'DR'|| gameinfo.status_ind == 'DI' || pitchingStaffGameStatus == 'DE'" class="status-indicators" width="50" src="..\Baseball\images\pictures\PPD.jpg" /><img ng-if="pitchingStaffGameStatus == 'IR'|| pitchingStaffGameStatus == 'PR'" class="status-indicators" width="50" src="..\Baseball\images\pictures\Delay.jpg" /><img ng-if="pitchingStaffGameStatus == 'MA'" class="status-indicators" width="50" src="..\Baseball\images\pictures\Challenge.jpg" /></blink>
                        </th>
                        <th style="float:right">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><span class="points" style="float:right">Points:<span ng-attr-id="{{$index}}">{{getPitchingStaffScore(pitchedGames)}}</span></span>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3" class="stats-table">
                            <span>&nbsp;&nbsp;</span>
                            <span>
                            <span ng-if="pitchedGames._w > 0">W</span>
                            <span ng-if="pitchedGames._l > 0">L</span>
                            <span ng-if="(pitchedGames._w != 0 || pitchedGames._l != 0)">,</span>
                            </span>
                            <span ng-if="pitchedGames._ip != 0">&nbsp;{{pitchedGames._ip}} IP
                            <span ng-if="pitchedGames._ip != 0  && (pitchedGames._h != 0 || pitchedGames._er != 0 || pitchedGames._bb != 0 || pitchedGames._k != 0 || pitchedGames._sho != 0)">,</span>
                            </span>
                            <span ng-if="pitchedGames._h != 0">&nbsp;{{pitchedGames._h}} H
                            <span ng-if="pitchedGames._h != 0  && (pitchedGames._er != 0 || pitchedGames._bb != 0 || pitchedGames._k != 0 || pitchedGames._sho != 0)">,</span>
                            </span>
                            <span ng-if="pitchedGames._er != 0">&nbsp;{{pitchedGames._er}} ER
                            <span ng-if="pitchedGames._er != 0  && (pitchedGames._bb != 0 || pitchedGames._k != 0 || pitchedGames._sho != 0)">,</span>
                            </span>
                            <span ng-if="pitchedGames._bb != 0">&nbsp;{{pitchedGames._bb}} BB
                            <span ng-if="pitchedGames._bb != 0  && (pitchedGames._k != 0 || pitchedGames._sho != 0)">,</span>
                            </span>
                            <span ng-if="pitchedGames._k != 0">&nbsp;{{pitchedGames._k}} K
                            <span ng-if="pitchedGames._k != 0  && (pitchedGames._sho != 0)">,</span>
                            </span>
                            <span ng-if="pitchedGames._sho != 0">&nbsp;{{pitchedGames._sho}} SHO</span>
                        </td>
                    </tr>
                </table>
            </div>
            <!--             </div>-->
            <!-- </div>   -->
            <table>
                <tr>
                    <div>
                        <span class="total" style="float:right;" data-ng-init="">
                        <b>Total Points for The Day:    {{ getTotal() +  hittingPoints()}}</b>
                    </span>
                    </div>
                </tr>
                <tr>&nbsp;</tr>
                <tr>&nbsp;</tr>
            </table>
        </div>
    </div>
</body>

</html>
