<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/mikeflynn/egg.js/master/egg.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://x2js.googlecode.com/hg/xml2json.js"></script>
    <link rel="stylesheet" type="text/css" href="../Baseball/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../Baseball/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/mikeflynn/egg.js/master/egg.min.js"></script>
    <script src="../Baseball/js/Scoreboard2.js"></script>
    <script src="../Baseball/js/date.js"></script>
    <script>
    $(function() {
        $("#navBar").load("../Baseball/navbar.html");
    });
    var egg = new Egg("up,up,down,down,a", function() {
        $('.egg').toggle();
    }).listen();
    </script>
    <meta name="Baseball" content="width=device-width, initial-scale=1.0">
    <!--<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">-->
    <style>
    table {
        width: 600px;
        text-align: center;
    }
    
    table,
    td,
    th {
        border: 1px solid red;
        text-align: center;
    }
    
    th {
        background-color: red;
        color: white;
        font-weight: bold;
    }
    </style>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../Baseball/images/favicon.ico" sizes="16x16">
    <link rel="shortcut icon" href="../Baseball/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../Baseball/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="../Baseball/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../Baseball/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../Baseball/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../Baseball/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../Baseball/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../Baseball/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../Baseball/images/apple-touch-icon-152x152.png" />
    <title>MLB.com Fantasy Scoreboard</title>
</head>

<body>
    <div id="navBar"></div>
    <div ng-app="myApp">
        <div ng-controller="baseballController" data-ng-init="getTeams();mlbTeam(); getTeamsSchedule(); ">
            <table>
                <tr ng-repeat="player in mlbTeam.fb_team_lineup.queryResults.row" nowrap>
                    <td nowrap>{{player.player_name}}</td>
                    <td nowrap>{{player.slot_val}}</td>
                    <td nowrap>{{player.is_locked}}</td>
                    <td nowrap>{{player.team_name}}</td>
                    <td nowrap>{{player.position}}</td>
                    <td ng-repeat="schedule in schedule.fb_team_lineup_view_schedule.queryResults.row" ng-if="schedule.league_player_id == player.league_player_id" nowrap>
                        {{schedule.opp_probable_pitcher_name}}
                        <br> {{schedule.pitcherVsBatter.h}}-{{schedule.pitcherVsBatter.ab}}, {{schedule.pitcherVsBatter.avg}}, {{schedule.pitcherVsBatter.hr}}HR, {{schedule.pitcherVsBatter.d}}2B, {{schedule.pitcherVsBatter.t}}3B
                    </td>
                </tr>
            </table>
            {{schedule}}
            <!-- <table>
                <tr ng-repeat="schedule in schedule.fb_team_lineup_view_schedule.queryResults.row">
                    <td nowrap>{{schedule.opp_probable_pitcher_name}} {{getPitcherVsBatter(schedule.opp_probable_pitcher_id, schedule.league_player_id)}}
                    </td>
                </tr>
            </table> -->
            <select id="team_id">
                <option ng-repeat="Teams in fantasyTeams.row" value="{{Teams.team_id}}">{{Teams.team_name}}</option>
            </select>
            <input type="text" value="34" id="period_id" />
            <input type="button" value="GO" ng-click="mlbTeam(); getTeamsSchedule();" />
            <br>
            <br>$scope.myTeam ={{setLineUp}}
            <br>$scope.benchPlayers={{setBench}}
            <br>$scope.DLPlayers = {{setDL}}
            <br>Pitching Staff: {{setPitchingStaff}}
        </div>
</body>
<footer>
    <center>
        <br>
        <p>&copy; 2015 Joel Clark</p>
    </center>
</footer>

</html>
