<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://x2js.googlecode.com/hg/xml2json.js"></script>
    <link rel="stylesheet" type="text/css" href="../Baseball/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../Baseball/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../Baseball/js/test.js"></script>
    <script src="../Baseball/js/date.js"></script>
    <script>
    var tab = "sat";
    var liveScoreA = "";
    var liveScoreB = "";
    var totalScoreA = "";
    var totalScoreB = "";
    var away_team_id = 55988;
    var home_team_id = 60746;
    var period_id = 24;
    console.log("period_id: " + period_id);
    var ajaxScores = $.ajax({
        url: "/fantasylookup/json/named.fb_team_score_by_date.bam",
        dataType: "json",
        data: {
            away_team_id: away_team_id,
            home_team_id: home_team_id,
            period_id: period_id
        }
    });
    console.log("ajaxScores: " + JSON.stringify(ajaxScores));
    var dataA = []; /*away team*/
    var dataB = []; /*home team*/

    var isLiveDay = true; // add true/false here

    // RK: temporary fix for 11am switchover (part 1/4)
    var currentDay;
    switch (tab) {
        case 'mon':
            currentDay = 1;
            break;
        case 'tue':
            currentDay = 2;
            break;
        case 'wed':
            currentDay = 3;
            break;
        case 'thu':
            currentDay = 4;
            break;
        case 'fri':
            currentDay = 5;
            break;
        case 'sat':
            currentDay = 6;
            break;
        case 'sun':
            currentDay = 7;
            break;
    }

    function buildLineScore(teamId) {
        if (teamId == "A") liveScore = liveScoreA;
        else if (teamId == "B") liveScore = liveScoreB;

        var data = new Array(); // clear array;

        switch (teamId) {
            case 'A':
                data = dataA;
                break;
            case 'B':
                data = dataB;
                break;
        }

        // RK: temporary fix for 11am switchover (part 2/4)
        //var currentDay = data.length + 1;
        //alert("teamId=" + teamId + "\ncurrentDay=" + currentDay);

        var dataRow = document.getElementById("team" + teamId).getElementsByTagName("tr")[0];
        var dataCells = dataRow.getElementsByTagName("td");
        // RK: temporary fix for 11am switchover (part 3/4)
        //dataCells[1].innerHTML = (currentDay == 1) ? writeLiveScore(teamId) : (data[0] == null) ? "&nbsp;" : data[0];
        //dataCells[2].innerHTML = (currentDay == 2) ? writeLiveScore(teamId) : (data[1] == null) ? "&nbsp;" : data[1];
        //dataCells[3].innerHTML = (currentDay == 3) ? writeLiveScore(teamId) : (data[2] == null) ? "&nbsp;" : data[2];
        //dataCells[4].innerHTML = (currentDay == 4) ? writeLiveScore(teamId) : (data[3] == null) ? "&nbsp;" : data[3];
        //dataCells[5].innerHTML = (currentDay == 5) ? writeLiveScore(teamId) : (data[4] == null) ? "&nbsp;" : data[4];
        //dataCells[6].innerHTML = (currentDay == 6) ? writeLiveScore(teamId) : (data[5] == null) ? "&nbsp;" : data[5];
        //dataCells[7].innerHTML = (currentDay == 7) ? writeLiveScore(teamId) : (data[6] == null) ? "&nbsp;" : data[6];
        for (var i = 1; i < 8; i++) {
            dataCells[i].innerHTML = (data[i - 1] != null && data[i - 1] != 0) ? data[i - 1] : (currentDay == i) ? writeLiveScore(teamId) : (currentDay > i) ? "0" : "&nbsp;";
        }

        dataCells[8].innerHTML = writeTotalScore(teamId, data, liveScore);
        return dataCells[8].innerHTML;
    }

    function writeTotalScore(teamId, data, liveScore) {
        if (liveScore == "") liveScore = 0;
        var totalScore = 0;
        for (var x = 0; x < data.length; x++) {
            totalScore += data[x] * 1;
        }
        // RK: temporary fix for 11am switchover (part 4/4)
        //totalScore = (totalScore*1) + (liveScore*1);
        totalScore = (totalScore * 1) + (((data[currentDay - 1] == null) || (data[currentDay - 1] == 0)) ? (liveScore * 1) : 0);
        return totalScore;
    }

    function writeLiveScore(teamId) {
        if (teamId == "A") return liveScoreA;
        if (teamId == "B") return liveScoreB;
    }

    function getLiveScore(scoreB, scoreA) {
        liveScoreA = scoreA;
        liveScoreB = scoreB;
        totalScoreA = buildLineScore('A');
        totalScoreB = buildLineScore('B');
        // Note: similar logic below ... if you change here change below too
        if (document.getElementById("tiebreakrow")) {
            if (totalScoreA == totalScoreB && totalScoreA != 0 && totalScoreB != 0) {
                document.getElementById("tiebreakrow").style.display = 'block';
            } else {
                document.getElementById("tiebreakrow").style.display = 'none';
            }
        }
    }
    $.when(ajaxScores).done(function(resp) {

        var rows = resp.fb_team_score_by_date.queryResults.row;
        for (var i = 0, l = rows.length; i < l; i++) {
            if (+rows[i].team_id === away_team_id) {
                dataA.push(rows[i].total_points);
            } else if (+rows[i].team_id === home_team_id) {
                dataB.push(rows[i].total_points);
            }
        }
        console.log("ajaxScores: " + JSON.stringify(dataA));
        console.log("ajaxScores: " + dataB);
        if (isLiveDay == true) {
            getLiveScore('0', '0');
        } else {
            totalScoreA = buildLineScore('A');
            totalScoreB = buildLineScore('B');
            // Note: similar logic above ... if you change here change above too
            if (document.getElementById("tiebreakrow")) {
                if (totalScoreA == totalScoreB && totalScoreA != 0 && totalScoreB != 0) {
                    document.getElementById("tiebreakrow").style.display = 'block';
                } else {
                    document.getElementById("tiebreakrow").style.display = 'none';
                }
            }
        }
    });
    </script>
    <script>
    $(function() {
        $("#navBar").load("../Baseball/navbar.html");
    });
    </script>
    <meta name="Baseball" content="width=device-width, initial-scale=1.0">
    <!--<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">-->
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../Baseball/images/favicon.ico" sizes="16x16">
    <link rel="shortcut icon" href="../Baseball/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../Baseball/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="../Baseball/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../Baseball/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../Baseball/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../Baseball/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../Baseball/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../Baseball/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../Baseball/images/apple-touch-icon-152x152.png" />
    <title>MLB.com Fantasy Scoreboard</title>
</head>

<body>
    <div id="navBar"></div>
    <div ng-app="myApp">
        <div ng-controller="baseballController" data-ng-init="changeDate(0, true);">
            <div class="header">
                <span>
                   <button id="dateBack" ng-click="changeDate(-1, false);" class="btn btn-primary" ><i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i></button>  
               </span>
                <span>
                  &nbsp;<span class="center-date" style="font-size: 195%;"><b><a ng-click="backToTodaysDate()">{{month}}/{{day}}/{{year}}</a></b></span>&nbsp;
                </span>
                <span class="right">
                 <button id="dateForward" ng-click="changeDate(1, false);"  class="btn btn-primary" ><i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i></button>
             </span>
            </div>
            <div ng-repeat="team in Teams" data-ng-init="setTeam(team.player,team.staff);">
                <div ng-repeat="pitchedGames in allPitchingStaffGames" data-ng-init="setTeam(team.player,team.staff);">
                    {{team.staff}}
                    <br>
                    <br> {{allPitchingStaffGames}}
                    <span>&nbsp;&nbsp;</span>
                    <span>
                            <span ng-if="pitchedGames.data._w > 0">W</span>
                    <span ng-if="pitchedGames.data._l > 0">L</span>
                    <span ng-if="(pitchedGames.data._w != 0 || pitchedGames.data._l != 0)">,</span>
                    </span>
                    <span ng-if="pitchedGames.data._ip != 0">&nbsp;{{pitchedGames.data._ip}} IP
                            <span ng-if="pitchedGames.data._ip != 0  && (pitchedGames.data._h != 0 || pitchedGames.data._er != 0 || pitchedGames.data._bb != 0 || pitchedGames.data._k != 0 || pitchedGames.data._sho != 0)">,</span>
                    </span>
                    <span ng-if="pitchedGames.data._h != 0">&nbsp;{{pitchedGames.data._h}} H
                            <span ng-if="pitchedGames.data._h != 0  && (pitchedGames.data._er != 0 || pitchedGames.data._bb != 0 || pitchedGames.data._k != 0 || pitchedGames.data._sho != 0)">,</span>
                    </span>
                    <span ng-if="pitchedGames.data._er != 0">&nbsp;{{pitchedGames.data._er}} ER
                            <span ng-if="pitchedGames.data._er != 0  && (pitchedGames.data._bb != 0 || pitchedGames.data._k != 0 || pitchedGames.data._sho != 0)">,</span>
                    </span>
                    <span ng-if="pitchedGames.data._bb != 0">&nbsp;{{pitchedGames.data._bb}} BB
                            <span ng-if="pitchedGames.data._bb != 0  && (pitchedGames.data._k != 0 || pitchedGames.data._sho != 0)">,</span>
                    </span>
                    <span ng-if="pitchedGames.data._k != 0">&nbsp;{{pitchedGames.data._k}} K
                            <span ng-if="pitchedGames.data._k != 0  && (pitchedGames.data._sho != 0)">,</span>
                    </span>
                    <span ng-if="pitchedGames.data._sho != 0">&nbsp;{{pitchedGames.data._sho}} SHO</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
